[http]
# proxy
# proxyAuthMethod
# emptyAuth
sslVersion=sslv3
# sslCipherList
sslVerify=false
# sslCert
# sslKey
# sslCertPasswordProtected
# sslCAInfo
# sslCAPath
# pinnedpubkey
sslTry=true
noEPSV=true
# userAgent
followRedirects=true
